version: "3.7"

# docker.for.win.localhost
# gateway.docker.internal
# host.docker.internal

services:
  dnsmasq:
    build: ./docker-services/dnsmasq
    ports:
      - "53:53/tcp"
      - "53:53/udp"
    cap_add:
      - NET_ADMIN
    command:
      - dnsmasq
      - --keep-in-foreground
      - --no-hosts
      - --no-resolv
      - --log-queries
      - --log-facility=-
      - --domain-needed
      - --bogus-priv
      - --server=1.1.1.1
      - --server=192.168.0.1
      - --address=/local/127.0.0.1

  proxy:
    image: nginx
    ports:
      - 80:80
    environment:
      NGINX_CONFIG: |
        server {
          listen 80 default_server;
          location / {
            proxy_pass http://nginx:80/;
          }
        }
        server {
          server_name authorization-service-svc;
          location / {
            proxy_pass http://host.docker.internal:3000/;
          }
        }
    command:
      - bash
      - -c
      - |
        echo "$$NGINX_CONFIG" > /etc/nginx/conf.d/proxy.conf
        nginx -g "daemon off;"

  nginx:
    image: nginx
    volumes:
      - ./www:/usr/share/nginx/html:ro
